header{
    background-color: rgb(150, 149, 149);
    height: auto;
    margin: 0px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 5px ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}

.margin{
    margin: 50px;
}

footer{
    background-color: rgb(150, 149, 149);
    height: auto;
    margin: 0px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 5px ;
    
    
}

#pie{
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#sub{
    font-style: italic;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
