
* {
    margin: 0;
    padding: 0;
 
}

body {
    font-family: Arial, sans-serif;
}


header{
    background-color: rgb(150, 149, 149);
    height: auto;
    margin: 0px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 5px ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}


#sub {
    font-style: italic;
    font-weight: lighter;
    font-family: 'Times New Roman', serif;
    font-size:x-large;
}

.biografia {
    display: flex;        
    gap: 40px;            
    padding: 5px 100px;
}

.foto img {
    width: 400px;         
    height: auto;
    display: block;
}


hr {
    border-top: 4px solid #969595;
    width: 100%;
    margin-bottom: 20px;
}



.social-icons {
    text-align: right;
    margin-top: 20px;
}

footer{
    background-color: rgb(150, 149, 149);
    height: auto;
    margin: 0px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 5px ;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
        
}