nav{
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(5,auto);
    border: 10px;
  
}

a{
    text-decoration: none;
    color: white;

}

.item_header{
    background-color: rgb(14, 14, 14);
    grid-column: 1 / span 5;
    display: grid;
    grid-template-columns: repeat(2,auto);
    color: white;
    height: 75px;
    justify-content: space-around; 
    align-items: center;

}

.titulo{    
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    line-height: 20px;
    border-color: wheat;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}

.titulo h2 {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}

.titulo img, .caja-menu img {
    vertical-align: middle; /* Alinea los iconos con el centro del texto */
    margin-right: 5px;
}


.caja-menu {
    list-style: none;    
    padding: 0;          
    margin: 0;
    display: flex;        
    gap: 20px;            
}


.caja-menu li {
    display: inline-block; 
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    vertical-align: middle; 
}


.caja-menu li img {
    vertical-align: middle; 
    margin-right: 8px;      
}


.caja{
    background-color: blueviolet;
    border: 5px solid;
    border-color: wheat;
}


.item_nav {
    background-color: white;
    grid-column: 1 / span 5;
    color: black;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    align-items: center; 
    justify-items: center; 
}


.contacto-formulario {
    width: 100%;
    max-width: 450px;
    text-align: left;
}

.contacto-formulario h2 {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.contacto-formulario label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contacto-formulario input, 
.contacto-formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfbebe;
    border-radius: 4px;
    margin-bottom: 15px;
    
}

.boton {
    width: 100%;
    padding: 12px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: #0056b3;
}


.contacto-mapa {
    width: 100%;
    max-width: 500px;
}

.contenedor-mapa {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
.item_footer1{
    background-color: rgb(14, 14, 14);
    grid-column: 1/ span 5;
    color: white;
    height: auto;
    padding: 10px;
    text-align: center;
}

.caja_footer{
    background-color: wheat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    line-height: 50px;
    border-color: wheat;
    display: inline-block;
        
}

.caja_footer2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    line-height: 50px;
    border-color: wheat;
    display: inline-block;
        
}

.item_footer2{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    text-align: center;
    grid-column: 1/ span 5;
    color: white;
    height: 50px;
}