*{
    margin:0;
}
.header{
    width: 100%;
    height: 100px;
    float: left;
    background-color: lightskyblue;
    margin-bottom: 10px;
    
    
}

.sidebar{
    float: left;
    width: 24%;
    height: 700px;
    background-color: lightgray;
    margin: 3px;
}

.content{
    float: left;
    width: 74%;
    height: 700px;
    background-color: rgb(63, 63, 179);
    margin: 3px;

}

.main{
    float: left;
    width: 100%;
    height: 350px;
    background-color: rgb(88, 8, 25);
    margin-top: 10px;
}

.footer{
    float: left;
    width: 100%;
    height: 60px;
    background-color: lightskyblue;
    margin-top: 10px;
}

.box{
    width: 75%;
    height: 250px;
    background-color: lightblue;
    margin: 50px auto;
}